<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework"
      type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      requirePermission="false"/>
  </configSections>
  <!--
  -->
  <connectionStrings>
    <add name="PISDbContext" connectionString="Data Source=DESKTOP-C00JU0F\SQLEXPRESS;Initial Catalog=PISDatabase2;Integrated Security=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--
  <connectionStrings>
    <add name="PISDbContext" connectionString="Data Source=tcp:ADRES,49173\SQLEXPESS;
         Initial Catalog=PISDatabase2;Persist Security Info=True;User ID=DimaK;Password=qazxsw;" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <connectionStrings>
    <add name="PISDbContext" connectionString="Data Source=tcp:DESKTOP-C00JU0F,49172\SQLEXPESS;
     Initial Catalog=PISDatabase2;Persist Security Info=True;User ID=Sanya;Password=123;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  -->
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>